<p>  this is the main page </p>
<ul>

<li> <%= link_to 'Trainers list', ''%> </li> </br>
<li> <%= link_to 'Gym list', ''%> </li>
<html>
<head>
<style> 
body {
  
  background-color: #808080;

}
</style>
</head>
</html>