<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="Main">Main</a>
  </li> </br>
  <li class="nav-item">
    <a class="nav-link" href="About">About</a>
  </li> </br>
  <li class="nav-item">
    <a class="nav-link" href="SignUp">SignUp</a>
  </li>
</ul>