<p> <strong> Description: </strong> <%= @review.Description %> </p>
<p> <strong> Revial_Id: </strong> <%= @review.trainee_id %> </p>
<p> <strong> Category: </strong> </p>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
